html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.product-sec .container {
  width: 90%;
}
.line-5 {
  display: none;
}
.grid {
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 375px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.item-1 {
  grid-area: 1 / 1 / 2 / 2;
  width: 300px;
  height: 375px;
}
.item-2 {
  grid-area: 1 / 2 / 2 / 3;
  width: 300px;
  height: 375px;
}
.item-3 {
  grid-area: 1 / 3 / 3 / 4;
  width: 310px;
  height: 685px;
}
.item-4 {
  grid-area: 2 / 1 / 3 / 3;
  width: 610px;
  height: 300px;
}

img {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  cursor: pointer;
}
.second-div {
  height: auto;
}
.wrap {
  display: flex;
  justify-content: space-evenly;
}
.left {
  width: 50%;
}

.wrap img {
  position: static;
  width: 300px;
  height: 450px;
  margin: 0 auto 30px;
}
.third-div {
  height: 100% !important;
  margin-bottom: 100px;
}

.third-div .wrap-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.wrap-1 {
  position: relative;
}
.wrap-1 .right h2 {
  font-size: 32px;
  width: 40%;
}
.wrap-1 .right p {
  font-size: 16px;
  width: 80%;
  padding: 2rem 0;
}
.img-3 {
  width: 400px;
  height: 550px;
}
.img-4 {
  width: 325px;
  height: 400px;
  position: absolute;
  left: 20%;
  top: 38%;
}
.fourth-div {
  height: 100vh;
  margin-top: 300px;
}
.fourth-div .wrap-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.img-5,
.img-6 {
  width: 350px;
  height: 500px;
}
.fourth-div .left {
  text-align: right;
  position: relative;
}
.img-5 {
  position: absolute;
  right: 30%;
  top: -30%;
  z-index: 3;
}
.wrap-2 .right h2 {
  font-size: 32px;
  width: 40%;
}
.wrap-2 .right p {
  font-size: 16px;
  width: 80%;
  padding: 2rem 0;
}
.img-4:hover,
.img-5:hover,
.img-6:hover {
  filter: drop-shadow(10px 5px 20px #222);
  -webkit-filter: drop-shadow(10px 5px 20px #222);
}

@media (max-width: 1450px) {
  .grid-item {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1300px) {
  .grid {
    margin-top: 50px;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 400px);
    gap: 30px;
  }
  .grid-item {
    width: 300px;
    height: 400px;
  }
  .item-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .item-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .item-3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .item-4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .img-2 {
    right: 15%;
    top: 60%;
  }
  .third-div .right {
    text-align: center;
  }
  .third-div .right h2,
  .third-div .right p {
    width: 70%;
    text-align: right;
    margin-left: 50px;
  }
}
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 400px;
    grid-template-rows: repeat(4, 500px);
    grid-row-gap: 15px;
    justify-content: center;
  }
  .grid-item {
    width: 400px;
    height: 500px;
  }
  .item-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .item-2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .item-3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .item-4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .wrap,
  .third-div .wrap-1 {
    flex-direction: column;
    align-items: center;
  }
  .third-div .wrap-1 h2,
  .third-div .wrap-1 p,
  .fourth-div .wrap-2 h2,
  .fourth-div .wrap-2 p {
    width: 100%;
    text-align: center;
  }
  .third-div .left {
    margin: 50px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .third-div .right {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .right h2,
  .right p {
    margin-left: 0 !important;
  }
  .img-2 {
    margin-top: 30px !important;
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-6,
  .img-5 {
    position: static;
    width: 50%;
    margin-top: 15px;
    height: 500px;
  }
  .fourth-div {
    height: 100%;
  }
  .fourth-div .wrap-2 {
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .fourth-div .left {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 500px);
    margin-bottom: 0;
  }
  .grid-item {
    width: 100%;
    height: 100%;
  }
  .third-div .left {
    margin: 50px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .third-div .left .img-3 {
    width: 80%;
  }
  .second-div{
    margin-top: 50px;
  }
  .item-4 {
    display: none;
  }

  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-6,
  .img-5 {
    position: static;
    width: 60% !important;
    margin-top: 15px;
    height: 450px;
  }
  .img-2{
    width: 300px !important;
  }
  .fourth-div {
    margin-top: 30px;
    height: 100%;
  }
  .fourth-div .wrap-2 {
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .grid {
    grid-template-columns: 200px;
    grid-template-rows: repeat(3, 300px);
    grid-row-gap: 15px;
  }
  .grid-item {
    width: 200px;
    height: 300px;
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-6,
  .img-5 {
    position: static;
    width: 75%;
    margin-top: 15px;
    height: 350px;
  }
}
