.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.container{
    width: 90%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.linear {
    background: linear-gradient(
      to top right,
      #0032a1,
      #3358a7,
      #9eabe7
    );
  }

  body::-webkit-scrollbar {
    display: none;
  }