@media (max-width: 1525px) {
  .hero {
    align-items: center;
  }
  .anchor-container {
    width: 70%;
  }
  .img-holder {
    width: 70%;
  }
  .title {
    font-size: 8rem;
  }
  .links-container {
    right: 10%;
    bottom: 10%;
  }
  .col {
    width: 280px;
    margin-top: 5rem;
  }
  .intro-title {
    font-size: 6rem;
  }
  .intro-content .text {
    width: 50%;
    font-size: 2rem;
    margin: 5rem 0;
  }
  .intro-content .btn {
    font-size: 2.5rem;
  }
  .col-4 {
    right: 0;
  }
}
@media (max-width: 1250px) {
  html {
    font-size: 6.5px;
  }
  .links-container {
    margin-bottom: 5rem;
  }
  .hero {
    margin-top: 10rem;
  }
  .title {
    font-size: 7rem;
  }
  .content .text {
    font-size: 2rem;
  }

  .anchor-container {
    width: 70%;
  }
  .img-holder {
    height: 80rem;
    width: 78%;
  }
  .links-container {
    right: 0;
    bottom: 14%;
  }
  .intro {
    height: 95vh;
  }
  .col {
    width: 200px;
    margin-top: 5rem;
    animation: none;
    -webkit-animation: none;
  }
  .col-1,
  .col-3 {
    animation: upDownS 2s linear infinite alternate;
    -webkit-animation: upDownS 2s linear infinite alternate;
  }
  .col-2,
  .col-4 {
    animation: upDownS 2s linear infinite reverse;
    -webkit-animation: upDownS 2s linear infinite reverse;
  }
  .col-3 {
    left: 53%;
  }
  .col-4 {
    right: 1%;
  }
  .intro-title {
    font-size: 7rem;
  }
  .intro-content .text {
    width: 50%;
    font-size: 3rem;
    margin: 5rem 0;
  }
  .intro-content .btn {
    font-size: 2.5rem;
  }
  /* About */
  .goal-title {
    font-size: 3rem;
  }
  .our-goals .title-prev,
  .title-next {
    width: 350px;
  }
  .footer-inner {
    height: 75vh;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 7.5px;
  }
  header {
    height: 100%;
  }
  .hero {
    flex-direction: column;
  }
  .content {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  .logo {
    width: 40%;
    margin: 0 auto;
  }
  .content {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    text-align: center;
    line-height: 1.1;
    margin: 0 auto;
    width: 90%;
  }

  .content .caption,
  .content .text {
    width: 80%;
    margin: 3rem auto 0;
  }
  .anchor-container {
    margin: 4rem 0;
    width: 100%;
    height: 80rem;
  }
  .img-holder {
    width: 77%;
    margin: 0 auto;
  }
  .links-container {
    right: 0;
  }
  .down-btn {
    display: none;
  }
  /*  Intro Section */
  .intro {
    height: 90vh;
  }
  .col {
    width: 175px;
  }
  .col-1,
  .col-3 {
    animation: upDownS 2s linear infinite alternate;
    -webkit-animation: upDownS 2s linear infinite alternate;
  }
  .col-2,
  .col-4 {
    animation: upDownS 2s linear infinite reverse;
    -webkit-animation: upDownS 2s linear infinite reverse;
  }
  .column-box {
    margin: 5rem auto;
  }
  .col-4 {
    right: -2%;
  }
  /* About us */
  .title-container {
    margin: 5rem auto;
    text-align: center;
  }
  .about-title {
    font-size: 4.5rem;
  }
  .title-container .text {
    width: 100%;
    font-size: 2.2rem;
  }
  .our-content .text,
  .we-content .text {
    width: 80%;
    font-size: 2rem;
    text-align: center;
  }
  .our-goals .title-prev,
  .title-next {
    width: 200px;
  }
  .goal-inner .text {
    font-size: 2rem;
  }
  .we-img img,
  .our-img img {
    width: 100%;
  }
  /* Footer */
  .footer-inner {
    flex-direction: column-reverse;
  }
  .contact-info,
  .footer-imgs {
    width: 100%;
    height: 50vh;
  }
  .value {
    width: 100%;
  }
  .contact-info .container {
    text-align: center;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
  .cover img {
    height: 20% !important;
  }
  .logo {
    width: 70%;
    padding: 2rem 0;
    margin: 0 auto;
  }
  .anchor-container {
    display: none;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 0;
  }
  .content {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    text-align: center;
    line-height: 1.1;
    margin: 0 auto;
    width: 90%;
  }
  .content .title,
  .subtitle {
    font-size: 7rem;
  }
  .content .caption,
  .content .text {
    width: 80%;
    margin: 3rem auto 0;
  }
  .links-container {
    right: 50%;
    bottom: -50%;
    display: none;
  }
  /* Intro Section */
  .intro {
    height: 110vh;
  }
  .intro-title {
    font-size: 6rem;
  }
  .intro-content .text {
    width: 50%;
    font-size: 2.5rem;
    margin: 5rem 0;
  }
  .intro-content .btn {
    font-size: 3rem;
  }
  .col-1 {
    animation: upDownS 2s linear infinite alternate;
    -webkit-animation: upDownS 2s linear infinite alternate;
  }
  .col-3 {
    animation: upDownS 2s linear infinite reverse;
    -webkit-animation: upDownS 2s linear infinite reverse;
  }
  .col-1,
  .col-3 {
    width: 275px;
  }

  .col-2,
  .col-4 {
    display: none;
  }
  .column-box {
    margin: 5rem;
  }
  .down-btn {
    bottom: -7%;
  }
  /* About us */
  .line {
    width: 2px;
    opacity: 0.5;
  }
  .title-container {
    margin: 5rem auto;
    text-align: center;
  }
  .about-title {
    font-size: 4.5rem;
  }
  .title-container .text {
    width: 100%;
    font-size: 2.2rem;
  }
  .we-inner,
  .our-inner {
    flex-direction: column;
    align-items: center;
  }
  .our-inner .our-content,
  .we-inner .we-content {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
  }

  .goal-inner .text {
    font-size: 2rem;
  }
  .we-img img,
  .our-img img {
    width: 100%;
  }
  .goal-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 600px) {
  /* Intro Section */
  .intro {
    height: 100vh;
  }
  .intro-title {
    font-size: 6rem;
  }
  .intro-content .text {
    width: 50%;
    font-size: 2.5rem;
    margin: 5rem 0;
  }
  .intro-content .btn {
    font-size: 3rem;
  }
  .col-1,
  .col-3 {
    width: 200px;
  }
  .col-2,
  .col-4 {
    display: none;
  }
  .column-box {
    margin: 5rem;
  }
  .down-btn {
    bottom: -5%;
  }
  .col-1 {
    left: -2%;
  }
  .col-3 {
    right: -6%;
  }
  /* About us */
  .about-title {
    font-size: 4rem;
  }
  .title-container .text {
    font-size: 2rem;
  }
  .our-content .text,
  .we-content .text {
    font-size: 2rem;
  }

  .goal-inner .text {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 5px;
  }
  .intro {
    height: 100vh;
  }
  .intro-title {
    font-size: 4rem;
  }
  .intro-content .text {
    width: 50%;
    font-size: 2rem;
    margin: 5rem 0;
  }
  .intro-content .btn {
    font-size: 2rem;
  }
  .column-box {
    margin: 5rem auto;
  }
  .col-1,
  .col-3 {
    width: 120px;
  }
  .col-1 {
    left: 5%;
  }
  .col-3 {
    right: 15%;
  }
  /* About us */
  .our-goals .title-prev,
  .title-next {
    width: 200px;
  }
  .goal-inner .text {
    font-size: 2rem;
  }
  .we-img,
  .our-img {
    width: 100%;
  }
  .title-prev {
    width: 75px;
    height: 35px;
  }
}
