.wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.wrap img {
  position: static;
}
.img-1 {
  width: 400px;
  height: 400px;
}
.box {
  display: flex;
  justify-content: space-between;
}
.text-content {
  position: static;
}
.img-3 {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 60%;
  left: 30%;
  z-index: 3;
}
.img-2 {
  width: 500px;
  height: 400px;
  right: 25%;
  top: 90%;
  z-index: 2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 1300px) {
  .img-2{
    width: 60%;
    height: 350px;
  }
  .img-3{
    top: 60%;
    left: 12%;
  }
  .text-content h2{
    width: 100%;
  }
}
@media (max-width: 992px) {
  .img-1 {
    width: 100%;
    height: 350px;
    margin:50px 0 0 30px; 
  }
  .img-2,
  .img-3 {
    position: static;
    width: 100%;
    height: 450px;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-rows: repeat(5, 600px);
    grid-row-gap: 30px;
    justify-content: center;
  }
  .grid-item{
    height: 600px;
  }
  .wrap {
    flex-direction: column;
  }
  .img-1 {
    width: 100%;
    height: 400px;
    margin-top: 50px;
  }

  .box {
    flex-direction: column-reverse;
  }
  .img-2,
  .img-3 {
    position: static;
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 450px) {
  .img-1 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }
  .img-2,
  .img-3 {
    position: static;
    width: 100%;
    height: 250px;
  }
}
