.loading {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top right, #0032a1, #3358a7, #9eabe7);
  position: fixed;
  z-index: 1000;
}
.loaded{
  display: none;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  
}

#logo .path1 {
  stroke-dasharray: 371.367981;
  stroke-dashoffset: 473.7960510253906;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}

#logo .path2 {
  stroke-dasharray: 262.36798095703125;
  stroke-dashoffset: 262.36798095703125;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path3 {
  stroke-dasharray: 167.61599731445312;
  stroke-dashoffset: 167.61599731445312;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path4 {
  stroke-dasharray: 731.232177734375;
  stroke-dashoffset: 731.232177734375;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path5 {
  stroke-dasharray: 466.5599670410156;
  stroke-dashoffset: 466.5599670410156;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path6 {
  stroke-dasharray: 521.3294067382812;
  stroke-dashoffset: 521.3294067382812;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path7 {
  stroke-dasharray: 485.0057373046875;
  stroke-dashoffset: 485.0057373046875;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path8 {
  stroke-dasharray: 473.796142578125;
  stroke-dashoffset: 473.796142578125;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}

#logo .path9 {
  stroke-dasharray: 358.5600280761719;
  stroke-dashoffset: 358.5600280761719;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path10 {
  stroke-dasharray: 473.7960510253906;
  stroke-dashoffset: 473.7960510253906;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path11 {
  stroke-dasharray: 262.36798095703125;
  stroke-dashoffset: 262.36798095703125;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path12 {
  stroke-dasharray: 167.61599731445312;
  stroke-dashoffset: 167.61599731445312;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path13 {
  stroke-dasharray: 731.232177734375;
  stroke-dashoffset: 731.232177734375;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path14 {
  stroke-dasharray: 466.5599670410156;
  stroke-dashoffset: 466.5599670410156;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path15 {
  stroke-dasharray: 521.3294067382812;
  stroke-dashoffset: 521.3294067382812;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path16 {
  stroke-dasharray: 485.0057373046875;
  stroke-dashoffset: 485.0057373046875;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path17 {
  stroke-dasharray: 473.796142578125;
  stroke-dashoffset: 473.796142578125;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}
#logo .path18 {
  stroke-dasharray: 358.5600280761719;
  stroke-dashoffset: 358.5600280761719;
  animation: line-anim 2s ease forwards;
  -webkit-animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
