:root {
  --main: #0032a1;
  --yellow: #b8a10e;
  --white: #fff;
  --gray-light: #aaa;
  --gray: #555;
  --raduis: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden ;
}
body {
  line-height: 1.5;
  color: var(--white);
}
/********** Preloader ************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2;
  background: #5b77bf;
}
.first {
  left: 0;
}

.second {
  left: 33.3%;
}

.third {
  left: 66.6%;
}

/***********
 * Header Section
 **************/
header {
  height: 100vh;
  font-size: 1.6rem;
  border-bottom: 3px solid var(--main);
}

.logo-container {
  width: 100%;
  padding: 10px 0;
}
.logo {
  width: 30%;
  text-align: center;
}
.logo img {
  width: 40%;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 40%;
  line-height: 0.7;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.content .title {
  font-size: 9rem;
  margin: 0;
  z-index: 3;
}
.content .subtitle {
  font-size: 8rem;
  color: #999;
  z-index: 1;
  align-self: center;
}
.content .caption {
  font-size: 3.2rem;
  width: 40%;
  line-height: 1;
}
.content .text {
  font-size: 1.6rem;
  font-weight: 300;
  width: 40%;
  line-height: 1.2;
  margin-top: 3rem;
  color: rgba(255, 255, 255, 0.7);
}
.anchor-container {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.img-holder {
  width: 80%;
  height: 55rem;
  cursor: pointer;
}
.links-container {
  position: absolute;
  right: 10%;
  bottom: 12%;
  width: 5%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.link a {
  font-size: 2.5rem;
  font-weight: 800;
}

.down-btn span {
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.down-btn {
  position: absolute;
  left: 50%;
  bottom: 3%;
  z-index: 6;
}

.down-btn span::before {
  content: "";
  position: absolute;
  left: -13px;
  top: -13px;
  border: 3px solid #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.down-btn span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 22px;
  height: 35px;
  width: 3px;
  background-color: #fff;
}
/****** Intro Section ******/
.intro {
  height: 110vh;
  background: var(--gray-light);
  overflow: hidden;
  display: grid;
  position: relative;
}
.column-box,
.intro-overlay {
  grid-column: 1;
  grid-row: 1;
}
.intro-overlay {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.27);
}

.intro-content {
  margin: 0 0 5rem 10rem;
}
.intro-title {
  font-size: 3.6rem;
}
.intro-content .text {
  width: 25%;
  font-size: 1.7rem;
  margin: 2rem 0 3rem;
}
.intro-content .btn {
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--main);
  padding: 1.5rem 3.5rem;
  border-radius: var(--raduis);
  -webkit-border-radius: var(--raduis);
  -moz-border-radius: var(--raduis);
  -ms-border-radius: var(--raduis);
  -o-border-radius: var(--raduis);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.intro-content .btn:hover {
  background-color: var(--yellow);
}
.column-box {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.col {
  width: 325px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.col-2,
.col-4 {
  flex-direction: column-reverse;
}
.intro-img {
  border-radius: var(--raduis);
  -webkit-border-radius: var(--raduis);
  -moz-border-radius: var(--raduis);
  -ms-border-radius: var(--raduis);
  -o-border-radius: var(--raduis);
  margin-bottom: 2rem;
  box-shadow: 25px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.intro-img:first-child {
  border: 3px solid var(--main);
}
.intro-img:nth-child(2) {
  border: 3px solid var(--yellow);
}
.intro-img:nth-child(3) {
  border: 3px solid var(--main);
}
.intro-img:last-child {
  border: 3px solid var(--yellow);
}
.col-1 {
  animation: upDown 30s linear infinite alternate;
  -webkit-animation: upDown 30s linear infinite alternate;
}
.col-2 {
  left: 26%;
  top: -2%;
  animation: upDown 30s linear infinite alternate-reverse;
  -webkit-animation: upDown 30s linear infinite alternate-reverse;
}
.col-3 {
  left: 52%;
  animation: upDown 30s linear infinite alternate;
  -webkit-animation: upDown 30s linear infinite alternate;
}
.col-4 {
  right: -2%;
  top: 2%;
  animation: upDown 30s linear infinite alternate-reverse;
  -webkit-animation: upDown 30s linear infinite alternate-reverse;
}

/* About us section */
.about-sec {
  font-size: 1.6rem;
  color: #333;
  position: relative;
  overflow-x: hidden;
}
/* .line {
  width: 5px;
  background-color: #e0b337;
  position: absolute;
  z-index: -1;

}
.line-1 {
  height: 630px;
  right: 20%;
  top: -250px;
  transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
}
.line-2 {
  right: 10%;
  top: -100px;
  height: 800px;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
} */
.title-container {
  margin: 5rem 0;
  padding: 0 6rem;
  overflow-x: hidden;
}
.about-title {
  font-size: 3rem;
}
.title-container .text {
  width: 30%;
  font-weight: 400;
  color: #555;
  margin: 2rem 0;
}

/* WE ARE  */
.title-box {
  display: flex;
  align-items: center;
}
.title-prev {
  width: 175px;
  height: 50px;
}
.a-title {
  font-size: 4rem;
  padding-left: 2rem;
  position: relative;
}
.a-title::before {
  position: absolute;
  content: "01";
  font-size: 6rem;
  opacity: 0.8;
  color: var(--gray-light);
  line-height: 0;
  z-index: -1;
  left: 30%;
  top: 15%;
}

.we-are,
.our-vision {
  margin-bottom: 10rem;
}
.we-inner,
.our-inner {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.our-content,
.we-content {
  width: 50%;
}
.our-content .text,
.we-content .text {
  width: 60%;
  font-weight: 500;
  line-height: 1.3;
  margin: 3rem auto;
  color: #666;
}
.our-img img,
.we-img img {
  margin-right: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1);
}
.our-vision .a-title::before {
  position: absolute;
  content: "02";
  font-size: 6rem;
  opacity: 0.8;
  color: var(--gray-light);
  line-height: 0;
  z-index: -1;
  left: 15%;
  top: 20%;
}

/* Our  Goals */
.our-goals {
  position: relative;
}
.our-goals .title-box {
  width: 100%;
  justify-content: space-between;
}

.our-goals .title-prev {
  width: 500px;
}
.title-next {
  width: 500px;
  height: 50px;
}
.goal-title {
  font-size: 4rem;
  padding-left: 2rem;
  position: relative;
}
.goal-title::before {
  position: absolute;
  content: "03";
  font-size: 6rem;
  opacity: 0.8;
  color: var(--gray-light);
  line-height: 0;
  z-index: -1;
  left: 30%;
  top: 15%;
}
.goal-inner .text {
  width: 60%;
  font-size: 1.7rem;
  text-align: left;
  margin: 5rem auto;
  color: #666;
  font-weight: 500;
}
.dash {
  color: var(--main);
  font-size: 3rem;
  font-weight: 700;
  padding-right: 1rem;
}

.footer-inner {
  display: flex;
  height: 100vh;
}
.footer-inner .container {
  width: 80%;
}
.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.atrr {
  font-size: 2rem;
  letter-spacing: 2px;
  opacity: 0.8;
  font-weight: 400;
  margin: 2rem 0;
}
.value {
  font-size: 3.5rem;
  width: 50%;
}
.footer-imgs {
  width: 50%;
  background-color: var(--gray-light);
  position: relative;
}
.markers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  position: absolute;
  right: 15%;
  top: 45%;
}
.mark {
  width: 10px;
  height: 10px;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.mark.active {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #fff;
}
